@primary-color: black;
@primary-bgColor: #DA2128;
@primary-bgColor-weak: #DA4E53;
@secondary-color: #DFDFDF;
@secondary-bgColor: #666666;
@footer-bgColor: #121212;
@content-bgColor: #cccccc;
@font-size-nav:16pt;
@font-size-standard:12pt;

@import "layout.less";
@import "adminStyle.less";

a {
  color:@primary-bgColor;
  text-decoration:none;
  &:hover {
    color:@primary-bgColor-weak;
    text-decoration:underline;
  }
  &:visited {
    color:@primary-bgColor;
  }
}

.k_home-slider-caption {
  background-color:@primary-bgColor;
  opacity: 0.9;
  font-size:@font-size-nav;
  color:@secondary-color;
  cursor:pointer;
  padding-top:10px;
  padding-bottom:10px;
  a {
    color:@secondary-color;
    text-decoration:none;
    &:hover {
      text-decoration:none;
    }
  }
}

h1 {
  text-align:center;
  color:@primary-bgColor;
  margin-bottom:20px;
  font-size:48pt;
}

.k_content {
  margin-top:15px;

  h2 {
    margin: 0;
    padding: 0;
    color: @primary-bgColor;
    font-weight:bold;
    text-align:center;
  }

  h4 {
    color: @primary-bgColor;
  }

  .k_gray {
    background-color:@content-bgColor;
  }

  .k_content-container {
    padding:20px;
    font-size:@font-size-standard;
    img {
      border:1px solid @primary-color;
    }
    .media {
      .media-body {
        font-size:10pt;
        padding-left:15px;
      }
    }

    .input-group {
      margin-bottom:20px;
    }

    .btn-primary {
      background-color:@primary-bgColor-weak;
      border-color:@primary-bgColor;
      font-size:12pt;
    }

    .k_table {
      margin-top:15px;
      td {
        vertical-align:bottom;
        padding-top:20px;
        padding-bottom:20px;
        &.k_head {
          padding-top:40px;
          font-weight:bold;
          color:@secondary-bgColor;
          font-size:@font-size-standard + 2;
        }
      }
      strong {
        display:block;
        width:100%;
        font-size:@font-size-standard;
        color:@primary-bgColor;
      }
      small {
        width:100%;
        display:block;
        font-style:italic;
      }
    }
    .werbetext {
      padding-left:10px;
    }
  }
}

.carousel-caption {
  left:20%;
  right:20%;
  @media (min-width:996px) {
    left:40%;
    right:40%;
  }
}

.k_carousel-caption-top {
  top:0;
  left:10%;
  right:10%;
  font-size:32pt;
  @media (min-width:996px) {
    font-size:48pt;
  }
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
}

p {
  padding:10px;
}